body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2 {
  position:absolute;
  left:50px;
  top:50px;
  width:96px;
  height:25px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4 {
  position:absolute;
  left:50px;
  top:185px;
  width:96px;
  height:25px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:90px;
  top:85px;
  width:300px;
  height:52px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:90px;
  top:220px;
  width:1155px;
  height:95px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u11 {
  position:absolute;
  left:53px;
  top:0px;
  width:136px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:30px;
}
#u13 {
  position:absolute;
  left:189px;
  top:0px;
  width:403px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:399px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:30px;
}
#u15 {
  position:absolute;
  left:592px;
  top:0px;
  width:457px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:453px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u17 {
  position:absolute;
  left:1049px;
  top:0px;
  width:101px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u19 {
  position:absolute;
  left:0px;
  top:30px;
  width:53px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:49px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u21 {
  position:absolute;
  left:53px;
  top:30px;
  width:136px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:30px;
}
#u23 {
  position:absolute;
  left:189px;
  top:30px;
  width:403px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u24 {
  position:absolute;
  left:10px;
  top:6px;
  width:391px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:30px;
}
#u25 {
  position:absolute;
  left:592px;
  top:30px;
  width:457px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:453px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u27 {
  position:absolute;
  left:1049px;
  top:30px;
  width:101px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u29 {
  position:absolute;
  left:0px;
  top:60px;
  width:53px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u31 {
  position:absolute;
  left:53px;
  top:60px;
  width:136px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:30px;
}
#u33 {
  position:absolute;
  left:189px;
  top:60px;
  width:403px;
  height:30px;
  text-align:left;
}
#u34 {
  position:absolute;
  left:10px;
  top:7px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:30px;
}
#u35 {
  position:absolute;
  left:592px;
  top:60px;
  width:457px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u37 {
  position:absolute;
  left:1049px;
  top:60px;
  width:101px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
