/*
 * colors variables
 */
nav {
  display: flex;
  font-size: 14px;
  padding: 20px 0;
  text-align: center;
  background: #333;
  box-shadow: 0px 3px 3px #f3f5f7;
}

nav img {
  width: 50%;
}

nav div {
  flex: 1;
  cursor: pointer;
}
