body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:819px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:638px;
}
#u215 {
  position:absolute;
  left:357px;
  top:63px;
  width:462px;
  height:638px;
}
#u216 {
  position:absolute;
  left:2px;
  top:311px;
  width:458px;
  visibility:hidden;
  word-wrap:break-word;
}
