<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">		<!-- 引入命名空间 -->
<head>
	<title>SpringBoot模版渲染</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<link rel="icon" type="image/x-icon" href="/images/mldn.ico"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/message_index.js"></script>
</head>
<body>
	<div><img src="/images/jixianit.png"></div>
	<div class="message">魔乐科技：www.mldn.cn</div>
</body>
</html> 