<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dalaoyang.dao.ArticleDao">

    <resultMap id="ArticleResultMap" type="com.dalaoyang.entity.ArticleInfo">
        <result property="articleId" column="ARTICLE_ID"/>
        <result property="articleName" column="ARTICLE_NAME"/>
        <result property="articleContent" column="ARTICLE_CONTENT"/>
        <result property="articleAuthors" column="ARTICLE_AUTHORS"/>
        <result property="articleInputDate" column="ARTICLE_INPUT_DATE"/>
        <result property="articleReadingTime" column="ARTICLE_READING_TIME"/>
        <result property="articleIsTop" column="ARTICLE_IS_TOP"/>
        <result property="articleIsRelease" column="ARTICLE_IS_RELEASE"/>
        <result property="articleTag" column="ARTICLE_TAG"/>
    </resultMap>

    <sql id="columns">
        ARTICLE_ID, ARTICLE_NAME, ARTICLE_CONTENT, ARTICLE_AUTHORS, ARTICLE_INPUT_DATE, ARTICLE_READING_TIME, ARTICLE_IS_TOP, ARTICLE_TAG, ARTICLE_IS_RELEASE
	</sql>

    <select id="getArticleListPage" resultMap="ArticleResultMap" parameterType="HashMap">
        SELECT
        <include refid="columns"/>
        FROM ARTICLE_INFO
        WHERE 1 = 1
        <if test="id != '' and id != null ">
            AND ARTICLE_ID LIKE CONCAT(#{id}, '%')
        </if>
        <if test="title != '' and title != null">
            AND ARTICLE_NAME LIKE CONCAT(#{title}, '%')
        </if>
        ORDER BY ARTICLE_INPUT_DATE DESC
        Limit #{page},10
    </select>

    <select id="getArticleListCount" resultType="int" parameterType="HashMap">
        SELECT COUNT(1) FROM ARTICLE_INFO
        WHERE 1 = 1
        <if test="id != '' and id != null ">
            AND ARTICLE_ID LIKE CONCAT(#{id}, '%')
        </if>
        <if test="title != '' and title != null">
            AND ARTICLE_NAME LIKE CONCAT(#{title}, '%')
        </if>
    </select>

    <update id="updateArticleRelease2Y" parameterType="int">
        UPDATE ARTICLE_INFO SET ARTICLE_IS_RELEASE = 'Y' WHERE ARTICLE_ID=#{1}
    </update>

    <update id="updateArticleRelease2N" parameterType="int">
        UPDATE ARTICLE_INFO SET ARTICLE_IS_RELEASE = 'N' WHERE ARTICLE_ID=#{1}
    </update>

    <insert id="saveArticle" parameterType="HashMap">
    INSERT INTO
    `article_info`
    ( `ARTICLE_NAME`, `ARTICLE_CONTENT`, `ARTICLE_AUTHORS`,
    `ARTICLE_INPUT_DATE`,`ARTICLE_READING_TIME`, `ARTICLE_IS_TOP`,
    `ARTICLE_TAG`, `ARTICLE_IS_RELEASE`)
    VALUES
    ( #{articleName}, #{articleContent},#{articleAuthors},
     now(), 1, #{articleIsTop},
     1, 'N');
    </insert>

    <select id="getLastId" resultType="int">
        SELECT last_insert_id()
    </select>

    <select id="getArticleInfoById" resultMap="ArticleResultMap" parameterType="int">
        SELECT
        <include refid="columns"/>
        FROM ARTICLE_INFO
        WHERE ARTICLE_ID =#{1}
    </select>


    <insert id="editArticle" parameterType="HashMap">
    UPDATE
    `article_info`
    SET
    ARTICLE_NAME=#{articleName},
    ARTICLE_CONTENT=#{articleContent},
    ARTICLE_AUTHORS=#{articleAuthors},
    ARTICLE_IS_TOP=#{articleIsTop}
    WHERE  ARTICLE_ID=#{articleId}
    </insert>

    <select id="getReleaseArticleTop" resultMap="ArticleResultMap" parameterType="int">
        SELECT
        <include refid="columns"/>
        FROM ARTICLE_INFO WHERE ARTICLE_IS_RELEASE = 'Y' ORDER BY ARTICLE_INPUT_DATE DESC LIMIT 0,5
    </select>
</mapper>