<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dalaoyang.dao.TagDao">
    <resultMap id="TagResultMap" type="com.dalaoyang.entity.TagInfo">
        <result property="tagId" column="TAG_ID"/>
        <result property="tagName" column="TAG_NAME"/>
    </resultMap>

    <sql id="columns">
        TAG_ID,TAG_NAME
	</sql>

    <select id="getTagByArticleId" resultMap="TagResultMap" parameterType="Integer">
        SELECT TI.* FROM  TAG_INFO  TI
        LEFT JOIN ARTICLE_TAG AT ON TI.TAG_ID= AT.TAG_ID
        WHERE AT.ARTICLE_ID=#{1}
    </select>

    <insert id="saveArticleTag" parameterType="HashMap">
        INSERT INTO
        `article_tag`
        (`ARTICLE_ID`, `TAG_ID`)
        VALUES
        (#{articleId}, #{tagId});
    </insert>

    <delete id="deleteArticleTag" parameterType="int">
        DELETE FROM article_tag WHERE ARTICLE_ID =#{1}
    </delete>

    <select id="getTagIdByName" parameterType="String" resultType="int">
        SELECT TAG_ID FROM TAG_INFO WHERE TAG_NAME=#{1}
    </select>

    <insert id="saveTag" parameterType="String">
        INSERT INTO
        `TAG_INFO`
        ( `TAG_NAME`)
        VALUES
        ( #{1});
    </insert>

    <select id="getLastId" resultType="int">
        SELECT last_insert_id()
    </select>

    <select id="getTagListPage" resultMap="TagResultMap" parameterType="HashMap">
        SELECT
        <include refid="columns"/>
        FROM TAG_INFO
        WHERE 1 = 1
        <if test="tagName != '' and tagName != null ">
            AND TAG_NAME LIKE CONCAT(#{tagName}, '%')
        </if>
        ORDER BY TAG_ID
        Limit #{page},10
    </select>

    <select id="getTagListCount" resultType="int" parameterType="HashMap">
        SELECT count(1) FROM TAG_INFO
        WHERE 1 = 1
        <if test="tagName != '' and tagName != null ">
            AND TAG_NAME LIKE CONCAT(#{tagName}, '%')
        </if>
    </select>

    <delete id="deleteAllArticleTag" parameterType="int">
        DELETE FROM article_tag WHERE TAG_ID =#{1}
    </delete>

    <delete id="deleteTag" parameterType="int">
        DELETE FROM TAG_INFO WHERE TAG_ID =#{1}
    </delete>
</mapper>