<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>book10</display-name>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/manager/bookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookClientServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.BookClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookClientServlet</servlet-name>
    <url-pattern>/client/bookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Kaptcha</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    <init-param>
      <param-name>kaptcha.textproducer.font.names</param-name>
      <param-value>楷体</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Kaptcha</servlet-name>
    <url-pattern>/kaptcha.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClientOrderServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.ClientOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientOrderServlet</servlet-name>
    <url-pattern>/client/orderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerOrderServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.ManagerOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerOrderServlet</servlet-name>
    <url-pattern>/manager/orderServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>managerFilter</filter-name>
    <filter-class>com.atguigu.filter.ManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>managerFilter</filter-name>
    <url-pattern>/pages/manager/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/error500.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>TransactionFilter</filter-name>
    <filter-class>com.atguigu.filter.TransactionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TransactionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>