@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xmgj8v');
  src:  url('fonts/icomoon.eot?xmgj8v#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xmgj8v') format('truetype'),
    url('fonts/icomoon.woff?xmgj8v') format('woff'),
    url('fonts/icomoon.svg?xmgj8v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-blogger:before {
  content: "\e901";
}
