<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!DOCTYPE html>
<html lang="en">
<body>
<div th:fragment="onLoadJs">
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script th:src="@{/assets/js/jquery-1.10.2.js}"></script>
    <!-- Bootstrap Js -->
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <!-- Metis Menu Js -->
    <script th:src="@{/assets/js/jquery.metisMenu.js}"></script>
    <!-- Morris Chart Js -->
    <script th:src="@{/assets/js/morris/raphael-2.1.0.min.js}"></script>
    <script th:src="@{/assets/js/morris/morris.js}"></script>
    <!-- Custom Js -->
    <!--<script th:src="@{/assets/js/custom-scripts.js}"></script>-->
    <script th:src="@{/page/page.js}" ></script>
    <script th:src="@{/assets/js/jquery.validate.min.js}" ></script>
    <script th:src="@{/assets/js/messages_zh.js}" ></script>

</div>
</body>
</html>