<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navigation">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">Dalaoyang</a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a th:class="${urlPre=='index' }?'active-menu'" th:href="@{/}"><i class="fa fa-dashboard"></i> 网站统计</a>
                </li>
                <li>
                    <a th:class="${urlPre=='article'}?'active-menu'" th:href="@{/articleList}"><i
                            class="fa fa-table"></i>文章管理</a>
                </li>
                <li>
                    <a th:class="${urlPre=='insertArticle'}?'active-menu'" class="active-menu"
                       th:href="@{/editArticle}"><i class="fa fa-edit"></i>发布文章</a>
                </li>
                <li>
                    <a th:class="${urlPre=='link'}?'active-menu'" class="active-menu" th:href="@{/linkList}"><i
                            class="fa fa-link"></i>友链管理</a>
                </li>
                <li>
                    <a th:class="${urlPre=='tag'}?'active-menu'" class="active-menu" th:href="@{/tagList}"><i
                            class="fa fa-tags"></i>标签管理</a>
                </li>
                <li>
                    <a th:class="${urlPre=='system'}?'active-menu'" class="active-menu" th:href="@{/system/}"><i
                            class="fa fa-cog"></i>系统管理</a>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->

</div>