body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:939px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:734px;
}
#u217 {
  position:absolute;
  left:420px;
  top:55px;
  width:519px;
  height:734px;
}
#u218 {
  position:absolute;
  left:2px;
  top:359px;
  width:515px;
  visibility:hidden;
  word-wrap:break-word;
}
