<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dalaoyang.dao.LinkDao">

    <resultMap id="LinkResultMap" type="com.dalaoyang.entity.LinkInfo">
        <result property="linkId" column="LINK_ID"/>
        <result property="linkName" column="LINK_NAME"/>
        <result property="linkUrl" column="LINK_URL"/>
    </resultMap>

    <sql id="columns">
       LINK_ID, LINK_NAME, LINK_URL, REMARK
	</sql>

    <select id="getLinkList" resultMap="LinkResultMap">
        SELECT
        <include refid="columns"/>
        FROM LINK_INFO
        ORDER BY LINK_ID
    </select>

</mapper>