<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dalaoyang.dao.WebsiteSystemPropertyDao">

    <resultMap id="WebsiteSystemPropertyResultMap" type="com.dalaoyang.entity.WebsiteSystemProperty">
        <result property="websiteUrl" column="WEBSITE_URL"/>
        <result property="wechatName" column="WEBSITE_NAME"/>
        <result property="domainName" column="DOMAIN_NAME"/>
        <result property="beianNumber" column="BEIAN_NUMBER"/>
        <result property="wechatName" column="WECHAT_NAME"/>
        <result property="weiboUrl" column="WEIBO_URL"/>
        <result property="giteeUrl" column="GITEE_URL"/>
        <result property="emailUrl" column="EMAIL_URL"/>
        <result property="csdnUrl" column="CSDE_URL"/>
        <result property="blogUrl" column="BLOG_URL"/>
        <result property="jianshuUrl" column="JIANSHU_URL"/>
        <result property="gongzhonghaoName" column="GONGZHONGHAO_NAME"/>
        <result property="gongzhonghaoTrueName" column="GONGZHONGHAO_TURENAME"/>
    </resultMap>

    <sql id="columns">
       WEBSITE_URL, WEBSITE_NAME, DOMAIN_NAME, BEIAN_NUMBER, WECHAT_NAME, WEIBO_URL, GITEE_URL, EMAIL_URL, CSDE_URL, BLOG_URL, JIANSHU_URL, GONGZHONGHAO_NAME, GONGZHONGHAO_TURENAME
	</sql>

    <select id="getWebsiteSystemProperty" resultMap="WebsiteSystemPropertyResultMap">
        SELECT
        <include refid="columns"/>
        FROM
        WEBSITE_SYSTEM_PROPERTY
        WHERE ID = 1
    </select>

</mapper>