<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dalaoyang.dao.WebsiteAccessInfoDao">

    <resultMap id="WebsiteSystemInfoResultMap" type="com.dalaoyang.entity.WebsiteAccessInfo">
        <result property="id" column="ID"/>
        <result property="accessDate" column="ACCESS_DATE"/>
        <result property="accessCount" column="ACCESS_COUNT"/>
    </resultMap>

    <sql id="columns">
        ID, ACCESS_DATE, ACCESS_COUNT
	</sql>

    <insert id="saveTodayWebsiteAccessInfo" parameterType="Integer">
        INSERT INTO `website_access_info`( `ACCESS_DATE`, `ACCESS_COUNT`) VALUES ( date_sub(NOW(),interval 1 day), #{0});
    </insert>

</mapper>