<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dalaoyang.dao.WebsiteSystemInfoDao">

    <resultMap id="WebsiteSystemInfoResultMap" type="com.dalaoyang.entity.WebsiteSystemInfo">
        <result property="id" column="ID"/>
        <result property="totalWebsiteVisits" column="TOTAL_WEBSITE_VISITS"/>
        <result property="todayWebsiteVisits" column="TODAY_WEBSITE_VISITS"/>
        <result property="monthWebsiteVisits" column="MONTH_WEBSITE_VISITS"/>
    </resultMap>

    <sql id="columns">
        ID, TOTAL_WEBSITE_VISITS, TODAY_WEBSITE_VISITS, MONTH_WEBSITE_VISITS
	</sql>

    <update id="updateWebsiteVisits">
        UPDATE WEBSITE_SYSTEM_INFO
        SET TOTAL_WEBSITE_VISITS=(TOTAL_WEBSITE_VISITS+1),
        TODAY_WEBSITE_VISITS=(TODAY_WEBSITE_VISITS+1),
        MONTH_WEBSITE_VISITS=(MONTH_WEBSITE_VISITS+1)
        WHERE ID = 1
    </update>

    <update id="updateTodayWebsiteVisits">
        UPDATE WEBSITE_SYSTEM_INFO
        SET
        TODAY_WEBSITE_VISITS=0
        WHERE ID = 1
    </update>

    <update id="updateMonthWebsiteVisits">
        UPDATE WEBSITE_SYSTEM_INFO
        SET
        MONTH_WEBSITE_VISITS=0
        WHERE ID = 1
    </update>

    <select id="getWebsiteSystemInfo" resultMap="WebsiteSystemInfoResultMap">
        SELECT
        <include refid="columns"/>
        FROM
        WEBSITE_SYSTEM_INFO
        WHERE ID = 1
    </select>

</mapper>