<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day36_homework</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletDemo01</display-name>
    <servlet-name>ServletDemo01</servlet-name>
    <servlet-class>cn.itcast.test01.ServletDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo01</servlet-name>
    <url-pattern>/ServletDemo01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo02</display-name>
    <servlet-name>ServletDemo02</servlet-name>
    <servlet-class>cn.itcast.test01.ServletDemo02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo02</servlet-name>
    <url-pattern>/ServletDemo02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo03</display-name>
    <servlet-name>ServletDemo03</servlet-name>
    <servlet-class>cn.itcast.test01.ServletDemo03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo03</servlet-name>
    <url-pattern>/ServletDemo03</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo04</display-name>
    <servlet-name>ServletDemo04</servlet-name>
    <servlet-class>cn.itcast.test01.ServletDemo04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo04</servlet-name>
    <url-pattern>/ServletDemo04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo05</display-name>
    <servlet-name>ServletDemo05</servlet-name>
    <servlet-class>cn.itcast.test01.ServletDemo05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo05</servlet-name>
    <url-pattern>/ServletDemo05</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo06</display-name>
    <servlet-name>ServletDemo06</servlet-name>
    <servlet-class>cn.itcast.test01.ServletDemo06</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo06</servlet-name>
    <url-pattern>/ServletDemo06</url-pattern>
  </servlet-mapping>
</web-app>