<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
  http://www.springframework.org/schema/mvc
  http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
  http://www.springframework.org/schema/context 
  http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- 定义组件扫描器，指定需要扫描的包 -->
	<context:component-scan base-package="com.itheima.controller" />	
	<!-- 定义视图解析器 -->
	<bean id="viewResolver" class=
    "org.springframework.web.servlet.view.InternalResourceViewResolver">
	     <!-- 设置前缀 -->
	     <property name="prefix" value="/WEB-INF/jsp/" />
	     <!-- 设置后缀 -->
	     <property name="suffix" value=".jsp" />
	</bean>
    <!-- 配置拦截器 -->
	<mvc:interceptors>
	   <!--使用bean直接定义在<mvc:interceptors>下面的拦截器将拦截所有请求-->
	  <!--  <bean class="com.itheima.interceptor.CustomInterceptor"/> -->	
	   <!-- 拦截器1 -->
		<mvc:interceptor>
   			<!-- 配置拦截器作用的路径 -->
    		<mvc:mapping path="/**" />
    		<!-- 定义在<mvc:interceptor>下面的表示匹配指定路径的请求才进行拦截的 -->
    		<bean class="com.itheima.interceptor.Interceptor1" />
		</mvc:interceptor>
		<!-- 拦截器2 -->
		<mvc:interceptor>
    		<mvc:mapping path="/hello" />
    		<bean class="com.itheima.interceptor.Interceptor2" />
		</mvc:interceptor>
		
		<mvc:interceptor>
    		<mvc:mapping path="/**" />
    		<bean class="com.itheima.interceptor.LoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
</beans>  
