<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dalaoyang</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link th:href="@{/iconfont/style.css}" type="text/css" rel="stylesheet">
</head>



<body  class="bac" >
    <div class="container wrap1" style="height:450px;">
            <h2 class="mg-b20 text-center">Dalaoyang管理后台</h2>
            <div class="col-sm-8 col-md-5 center-auto pd-sm-50 pd-xs-20 main_content">
                <p class="text-center font16">用户登录</p>
                <form th:action="@{/checkLogin}" method="post" id="loginForm">
                    <div class="form-group mg-t20">
                        <i class="icon-user icon_font"></i>
                        <input type="text" class="login_input" id="userName" name="userName" placeholder="请输入用户名" required/>
                    </div>
                    <div class="form-group mg-t20">
                        <i class="icon-lock icon_font"></i>
                        <input type="password" class="login_input" id="passWord" name="passWord" placeholder="请输入密码" required/>
                    </div>
                    <div class="checkbox mg-b25">

                    </div>
                    <button   class="login_btn" onclick="checkLogin()">登 录</button>
               </form>
        </div><!--row end-->
        <div><footer>

            <p style="text-align: center;"><br/><br/><br/><br/>Copyright &copy; 2018. <a target="_blank"  href="http://www.dalaoyang.cn/">Dalaoyang.cn</a> All rights reserved.
        </p></footer></div>
    </div><!--container end-->

    <script type="text/javascript"  th:inline="javascript">
        function  checkLogin(){
            $("#loginForm").validate({
                submitHandler:function(form){
                    alert("提交事件!");
                    form.submit();
                }
            });
        }


    </script>
</body>
</html>
