<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.CustomerMapper">
	<!-- <if>元素使用 -->
<!-- 	<select id="findCustomerByNameAndJobs" parameterType="com.itheima.po.Customer" 
										   resultType="com.itheima.po.Customer"> 
		select * from t_customer where 1=1 
		<if test="username !=null and username !=''"> 
			and username like concat('%',#{username},'%') 
		</if> <if test="jobs !=null and jobs !=''"> 
			and jobs= #{jobs} 
		</if> 
	</select> -->
	<!-- <where>元素 -->
<!-- 	<select id="findCustomerByNameAndJobs" parameterType="com.itheima.po.Customer" 
											resultType="com.itheima.po.Customer"> 
		select * from t_customer 
		<where> 
		<if test="username !=null and username !=''"> 
			and username like concat('%',#{username},'%') 
		</if> 
		<if test="jobs !=null and jobs !=''"> 
			and jobs= #{jobs} 
		</if> 
		</where> 
	</select> -->
	<!-- <trim>元素 -->
	<select id="findCustomerByNameAndJobs" parameterType="com.itheima.po.Customer"
		resultType="com.itheima.po.Customer">
		select * from t_customer
		<trim prefix="where" prefixOverrides="and">
			<if test="username !=null and username !=''">
				and username like concat('%',#{username}, '%')
			</if>
			<if test="jobs !=null and jobs !=''">
				and jobs= #{jobs}
			</if>
		</trim>
	</select>

	<!--<choose>(<when>、<otherwise>)元素使用 -->
	<select id="findCustomerByNameOrJobs" parameterType="com.itheima.po.Customer"
		resultType="com.itheima.po.Customer">
		select * from t_customer where 1=1
		<choose>
			<when test="username !=null and username !=''">
				and username like concat('%',#{username}, '%')
			</when>
			<when test="jobs !=null and jobs !=''">
				and jobs= #{jobs}
			</when>
			<otherwise>
				and phone is not null
			</otherwise>
		</choose>
	</select>

	<!-- <set>元素 -->
	<update id="updateCustomer" parameterType="com.itheima.po.Customer">
		update t_customer
		<set>
			<if test="username !=null and username !=''">
				username=#{username},
			</if>
			<if test="jobs !=null and jobs !=''">
				jobs=#{jobs},
			</if>
			<if test="phone !=null and phone !=''">
				phone=#{phone},
			</if>
		</set>
		where id=#{id}
	</update>

	<!--<foreach>元素使用 -->
	<select id="findCustomerByIds" parameterType="List"
		resultType="com.itheima.po.Customer">
		select * from t_customer where id in
		<foreach item="id" index="index" collection="list" open="("
			separator="," close=")">
			#{id}
		</foreach>
	</select>

	<!--<bind>元素的使用：根据客户名模糊查询客户信息 -->
	<select id="findCustomerByName" parameterType="com.itheima.po.Customer"
		resultType="com.itheima.po.Customer">
		<!--_parameter.getUsername()也可直接写成传入的字段属性名，即username -->
		<bind name="pattern_username" value="'%'+_parameter.getUsername()+'%'" />
		select * from t_customer
		where
		username like #{pattern_username}
	</select>

</mapper>
