<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<html>
<head th:include="common/common_head::commonHeader(${applicationName})"></head>


<body class="sub-page">

    <div th:include="common/navigation :: navigation"></div>
	<div th:include="common/img :: img"></div>


	<div th:include="common/header :: header"></div>

	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div id="main-content">
					<article>
						<div class="art-content  markdown_views">
<!--							<div th:utext="${articleInfo.articleContent}"> </div>-->
							<div th:utext="${articleInfo.articleContent}"> </div>

							<br/><br/><br/><br/>
							<div id="gitalk-container"></div>
				        </div>


					</article>

				</div>
			</div>
		</div>
		
	</div>

	<!-- FOOTER -->
	<footer>
		<div th:include="common/footer :: footer"></div>
	</footer>

	<div th:include="common/common_onload_js :: onLoadJs"></div>

</body>
</html>