<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<html>

<head th:include="common/common_head::commonHeader(${articleInfo.articleName})"></head>


<body class="sub-page">

    <div th:include="common/navigation :: navigation"></div>
	<div th:include="common/img :: img"></div>
	<div th:include="common/header :: header"></div>

	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div id="main-content">
					<article>
						<div class="art-content markdown_views">
							<h1 ><span  th:text="${articleInfo.articleName}"></span><div class="bdsharebuttonbox" style="float:right ;"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_ibaidu" data-cmd="ibaidu" title="分享到百度中心"></a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a></div>
								<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{},"image":{"viewList":["mshare","weixin","qzone","tsina","tqq","renren","ibaidu","copy"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["mshare","weixin","qzone","tsina","tqq","renren","ibaidu","copy"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script></h1>
							<br/>
							<p>
							</p>
							<div class="info"><i class="fa fa-user"></i><a href="#" th:text="${articleInfo.articleAuthors}"></a>&nbsp;<i class="fa fa-clock-o"></i>
								<a th:text="${#dates.format(articleInfo.articleInputDate, 'yyyy-MM-dd')}"></a>&nbsp;<i class="fa fa-eye"></i><a th:text="${articleInfo.articleReadingTime}"></a></div>
							<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div th:utext="${articleInfo.articleContent}"> </div> </div>
							<br/><br/><br/><br/>
							标签：<span th:each="tl,iterStat : ${articleInfo.tagInfoList}">
								<i class="fa fa-tags"></i><a target="_blank"  th:href="${'/tag/'+tl.tagName}" th:text="${tl.tagName}"></a>
								</span>
							<br/><br/><br/><br/>

							<div id="gitalk-container"></div>

						</div>
					</article>

					<div class="widget wid-related">
						<hr/>
						<div class="heading"><h4>推荐文章</h4></div>
						<div class="content">
							<div class="row">
								<div class="col-md-4">
									<div class="wrap-col">
										<a th:href="@{/article/13}" target="_blank"><img th:src="@{/images/7.jpg}"  /></a>
										<h4><a th:href="@{/article/13}" target="_blank">SpringBoot学习历程</a></h4>
									</div>
								</div>
								<div class="col-md-4">
									<div class="wrap-col">
										<a th:href="@{/article/14}" target="_blank"><img th:src="@{/images/8.jpg}" /></a>
										<h4><a th:href="@{/article/14}" target="_blank">SpringCloud学习目录</a></h4>
									</div>
								</div>
								<div class="col-md-4">
									<div class="wrap-col">
										<a th:href="@{/article/15}" target="_blank"><img th:src="@{/images/10.jpg}" /></a>
										<h4><a th:href="@{/article/15}" target="_blank">利用nginx，腾讯云免费证书制作https</a></h4>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>

	<!-- FOOTER -->
	<footer>
		<div th:include="common/footer :: footer"></div>
	</footer>

	<div th:include="common/common_onload_js :: onLoadJs"></div>


	<script type="text/javascript" >
		$('#article_span a').css("color","blue");
	</script>


</body>
</html>