<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div  th:fragment="footer">
    <div class="back_to_top" style="display: none;">
        <ul class="page">
            <li class="pageItem"><i class="fa fa-arrow-up"></i></li>
        </ul>
    </div>
    <div class="wrap-footer">
        <div class="container">
            <div class="row">
                <div class="col-footer col-md-3">
                    <h2 class="footer-title">LINK</h2>
                    <div class="textwidget">
                        <span th:each="al,iterStat : ${linkList}">
                            <p><a  target="_blank" th:href="${al.linkUrl}" th:text="${al.linkName}" th:title="${al.remark}"></a></p>
                        </span>
                    </div>
                </div>
                <div class="col-footer col-md-3 widget_recent_entries">
                    <h2 class="footer-title">Recent Posts</h2>
                    <ul>
                        <li  th:each="al,iterStat : ${commonArticleList}">
                            <a th:href="${'/article/'+al.articleId}" target="_blank" th:text="${al.articleName}"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-footer col-md-3">
                    <h2 class="footer-title">About me</h2>
                           <p>扫描关注公众号：<span th:text="${websiteSystemProperty.websiteName}"></span></p>
                    <div>
                        <img th:src="${'/img/wechat/'+websiteSystemProperty.gongzhonghaoName}"/>
                    </div>
                </div>
                <div class="col-footer col-md-3">
                    <h2 class="footer-title">Tags</h2>
                    <div class="footer-tags" >
                        <span th:each="al,iterStat : ${tagList}">
                        <a  target="_blank" th:href="${'/tag/'+al.tagName}" th:text="${al.tagName}"></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline social-buttons">
                        <li th:style="${websiteSystemProperty.wechatName}!=null?'':'display: none'"><a target="_blank" th:href="${'/img/wechat/'+websiteSystemProperty.wechatName}" title="WECHAT"><i class="fa fa-wechat"></i></a></li>
                        <li th:style="${websiteSystemProperty.weiboUrl}!=null?'':'display: none'"><a target="_blank" th:href="${websiteSystemProperty.weiboUrl}" title="WEIBO"><i class="fa fa-weibo"></i></a></li>
                        <li th:style="${websiteSystemProperty.giteeUrl}!=null?'':'display: none'"><a target="_blank" th:href="${websiteSystemProperty.giteeUrl}" title="GIT"><i class="fa fa-git"></i></a></li>
                        <li th:style="${websiteSystemProperty.emailUrl}!=null?'':'display: none'"><a th:href="${'mailto:'+websiteSystemProperty.emailUrl}" title="EMAIL"><i class="fa fa-envelope-o"></i></a></li>
                        <li th:style="${websiteSystemProperty.csdnUrl}!=null?'':'display: none'"><a target="_blank" th:href="${websiteSystemProperty.csdnUrl}" title="CSDN"><i class="fa icon-csdn"></i></a></li>
                        <li th:style="${websiteSystemProperty.blogUrl}!=null?'':'display: none'"><a target="_blank" th:href="${websiteSystemProperty.blogUrl}" title="慕课网"><i class="fa icon-blogger"></i></a></li>
                        <li th:style="${websiteSystemProperty.jianshuUrl}!=null?'':'display: none'"><a target="_blank" th:href="${websiteSystemProperty.jianshuUrl}" title="简书"><i class="fa icon-jian"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <p>Copyright &copy; 2018-2019. <a target="_blank"  th:href="${websiteSystemProperty.websiteUrl}" th:text="${websiteSystemProperty.domainName}"></a> All rights reserved.
                    </p>
                    <p th:text="${'总访问次数：'+websiteSystemInfo.totalWebsiteVisits+'|今日访问次数：'+websiteSystemInfo.todayWebsiteVisits}"></p>
                    <p><a target="_blank"  href="http://www.miitbeian.gov.cn/" th:text="${websiteSystemProperty.beianNumber}"></a></p>
                </div>
            </div>
        </div>
    </div>
</div>