<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div  th:fragment="header">

    <!-- Navigation -->
    <header class="container">

    <div class="site-branding">
    <h1 class="site-title">
        <a href="/">
            <span>Dalaoyang</span>
        </a>
    </h1>
    <h2 class="site-description">Welcome to Us !</h2>
</div>
<div class="social-links">
    <ul class="list-inline">
        <li th:style="${websiteSystemProperty.wechatName}!=null?'':'display: none'"><a target="_blank" th:href="${'/img/wechat/'+websiteSystemProperty.wechatName}" title="WECHAT"><i class="fa fa-wechat"></i></a></li>
        <li th:style="${websiteSystemProperty.weiboUrl}!=null?'':'display: none'"><a target="_blank" th:href="${websiteSystemProperty.weiboUrl}" title="WEIBO"><i class="fa fa-weibo"></i></a></li>
        <li th:style="${websiteSystemProperty.giteeUrl}!=null?'':'display: none'"><a target="_blank" th:href="${websiteSystemProperty.giteeUrl}" title="GIT"><i class="fa fa-git"></i></a></li>
        <li th:style="${websiteSystemProperty.emailUrl}!=null?'':'display: none'"><a th:href="${'mailto:'+websiteSystemProperty.emailUrl}" title="EMAIL"><i class="fa fa-envelope-o"></i></a></li>
        <li><a target="_blank" href="https://dalaoyang-prod.oss-cn-beijing.aliyuncs.com/dalaoyang.cn/rss/sitemap.xml" title="RSS"><i class="fa fa-rss"></i></a></li>
    </ul>
</div>
    </header>
</div>