<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">	<!-- 引入命名空间 -->
<head>
	<title>SpringBoot模版渲染</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<link rel="icon" type="image/x-icon" href="/images/mldn.ico"/>
</head>
<body>
	<p th:text="${#httpServletRequest.getRemoteAddr()}"/>
	<p th:text="${#httpServletRequest.getAttribute('requestMessage')}"/>
	<p th:text="${#httpSession.getId()}"/>
	<p th:text="${#httpServletRequest.getServletContext().getRealPath('/')}"/>
</body>
</html> 