<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	      xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
	      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	      id="WebApp_ID" version="3.1">
  <display-name>chapter14</display-name>
  <welcome-file-list>
       <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- 配置Spring MVC前端控制器 DispatcherServlet -->
  <servlet>
       <servlet-name>springmvc</servlet-name>
       <servlet-class>
           org.springframework.web.servlet.DispatcherServlet
       </servlet-class>
       <!-- 配置Spring MVC加载配置文件路径 -->
       <init-param>
          <param-name>contextConfigLocation</param-name>
          <param-value>classpath:springmvc-config.xml</param-value>
       </init-param>
       <!-- 配置服务器启动后立即加载Spring MVC配置文件 -->
       <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
       <servlet-name>springmvc</servlet-name>
       <url-pattern>/</url-pattern>
   </servlet-mapping>
   
   <!--激活tomcat的静态资源拦截，需要哪些静态文件，再往下追加-->
<!-- 	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping> -->
   
</web-app>
