<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace表示命名空间 -->
<mapper namespace="com.itheima.mapper.CustomerMapper">
	<!--1.根据客户编号获取客户信息 -->
<!-- 	<select id="findCustomerById" parameterType="Integer" -->
<!-- 		resultType="com.itheima.po.Customer"> -->
<!-- 		select * from t_customer where id = #{id} -->
<!-- 	</select> -->
	<!--2.根据客户名模糊查询客户信息列表 -->
	<select id="findCustomerByName" parameterType="String"
		resultType="com.itheima.po.Customer">
		select * from t_customer where username like '%${value}%'
	</select>
	<!-- 3.添加客户信息 -->
	<insert id="addCustomer" parameterType="com.itheima.po.Customer" 
	        keyProperty="id" useGeneratedKeys="true">	        
		insert into t_customer(username,jobs,phone)
		values(#{username},#{jobs},#{phone})
	</insert>
    <!-- 对于不支持自动生成主键的数据库，或取消自主增长规则的数据库可以自定义主键生成规则 -->
	<insert id="insertCustomer" parameterType="com.itheima.po.Customer">
	    <selectKey keyProperty="id" resultType="Integer" order="BEFORE">
	    select if(max(id) is null, 1, max(id) +1) as newId from t_customer
	    </selectKey>	        
		insert into t_customer(id,username,jobs,phone)
		values(#{id},#{username},#{jobs},#{phone})
	</insert>
	<!-- 4.更新客户信息 -->
	<update id="updateCustomer" parameterType="com.itheima.po.Customer">
		update t_customer 
		set username=#{username},jobs=#{jobs},phone=#{phone}
		where id=#{id}
	</update>
	<!-- 5.删除客户信息 -->
	<delete id="deleteCustomer" parameterType="Integer">
		delete from t_customer where id=#{id}
	</delete>

    <!--定义代码片段 -->
<!-- 	<sql id="customerColumns">id,username,jobs,phone</sql> -->
<!-- 	<select id="findCustomerById" parameterType="Integer" -->
<!-- 		resultType="com.itheima.po.Customer"> -->
<!-- 		select <include refid="customerColumns"/> -->
<!-- 		from t_customer  -->
<!-- 		where id = #{id} -->
<!-- 	</select> -->

    <!--定义表的前缀名 -->
	<sql id="tablename">
		${prefix}customer
	</sql>
    <!--定义要查询的表 -->
	<sql id="someinclude">
		from
		<include refid="${include_target}" />		
	</sql>
    <!--定义查询列 -->
	<sql id="customerColumns">
	   id,username,jobs,phone
	</sql>
    <!--根据id查询客户信息 -->
	<select id="findCustomerById" parameterType="Integer" 
	        resultType="com.itheima.po.Customer">
		select 
		<include refid="customerColumns"/>
		<include refid="someinclude">
			<property name="prefix" value="t_" />
			<property name="include_target" value="tablename" />
		</include>
		where id = #{id}
	</select>

</mapper>