body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1029px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u104 {
  position:absolute;
  left:50px;
  top:95px;
  width:984px;
  height:95px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u106 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u107 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u108 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u109 {
  position:absolute;
  left:300px;
  top:0px;
  width:79px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u110 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u111 {
  position:absolute;
  left:379px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u112 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u113 {
  position:absolute;
  left:529px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u114 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u115 {
  position:absolute;
  left:679px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u116 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u117 {
  position:absolute;
  left:829px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u118 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u119 {
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:30px;
}
#u120 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u121 {
  position:absolute;
  left:150px;
  top:30px;
  width:150px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u122 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u123 {
  position:absolute;
  left:300px;
  top:30px;
  width:79px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u124 {
  position:absolute;
  left:10px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u125 {
  position:absolute;
  left:379px;
  top:30px;
  width:150px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u126 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u127 {
  position:absolute;
  left:529px;
  top:30px;
  width:150px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u128 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u129 {
  position:absolute;
  left:679px;
  top:30px;
  width:150px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u130 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u131 {
  position:absolute;
  left:829px;
  top:30px;
  width:150px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u132 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u133 {
  position:absolute;
  left:0px;
  top:60px;
  width:150px;
  height:30px;
}
#u134 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u135 {
  position:absolute;
  left:150px;
  top:60px;
  width:150px;
  height:30px;
}
#u136 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u137 {
  position:absolute;
  left:300px;
  top:60px;
  width:79px;
  height:30px;
  text-align:left;
}
#u138 {
  position:absolute;
  left:10px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u139 {
  position:absolute;
  left:379px;
  top:60px;
  width:150px;
  height:30px;
  text-align:left;
}
#u140 {
  position:absolute;
  left:10px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u141 {
  position:absolute;
  left:529px;
  top:60px;
  width:150px;
  height:30px;
  text-align:left;
}
#u142 {
  position:absolute;
  left:10px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u143 {
  position:absolute;
  left:679px;
  top:60px;
  width:150px;
  height:30px;
  text-align:left;
}
#u144 {
  position:absolute;
  left:10px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u145 {
  position:absolute;
  left:829px;
  top:60px;
  width:150px;
  height:30px;
  text-align:left;
}
#u146 {
  position:absolute;
  left:10px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u147 {
  position:absolute;
  left:503px;
  top:50px;
  width:77px;
  height:25px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
