body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39 {
  position:absolute;
  left:71px;
  top:160px;
  width:1054px;
  height:95px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u42 {
  position:absolute;
  left:95px;
  top:0px;
  width:94px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u43 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:30px;
}
#u44 {
  position:absolute;
  left:189px;
  top:0px;
  width:680px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u45 {
  position:absolute;
  left:2px;
  top:6px;
  width:676px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u46 {
  position:absolute;
  left:869px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u47 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u48 {
  position:absolute;
  left:0px;
  top:30px;
  width:95px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u50 {
  position:absolute;
  left:95px;
  top:30px;
  width:94px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u51 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:30px;
}
#u52 {
  position:absolute;
  left:189px;
  top:30px;
  width:680px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u53 {
  position:absolute;
  left:10px;
  top:6px;
  width:668px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u54 {
  position:absolute;
  left:869px;
  top:30px;
  width:180px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u55 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u56 {
  position:absolute;
  left:0px;
  top:60px;
  width:95px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u58 {
  position:absolute;
  left:95px;
  top:60px;
  width:94px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:30px;
}
#u60 {
  position:absolute;
  left:189px;
  top:60px;
  width:680px;
  height:30px;
  text-align:left;
}
#u61 {
  position:absolute;
  left:10px;
  top:7px;
  width:668px;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u62 {
  position:absolute;
  left:869px;
  top:60px;
  width:180px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u63 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u64 {
  position:absolute;
  left:559px;
  top:125px;
  width:77px;
  height:25px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:71px;
  top:249px;
  width:1054px;
  height:65px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u69 {
  position:absolute;
  left:95px;
  top:0px;
  width:94px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u70 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:30px;
}
#u71 {
  position:absolute;
  left:189px;
  top:0px;
  width:680px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u72 {
  position:absolute;
  left:10px;
  top:6px;
  width:668px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u73 {
  position:absolute;
  left:869px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u74 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u75 {
  position:absolute;
  left:0px;
  top:30px;
  width:95px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u77 {
  position:absolute;
  left:95px;
  top:30px;
  width:94px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:30px;
}
#u79 {
  position:absolute;
  left:189px;
  top:30px;
  width:680px;
  height:30px;
  text-align:left;
}
#u80 {
  position:absolute;
  left:10px;
  top:7px;
  width:668px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u81 {
  position:absolute;
  left:869px;
  top:30px;
  width:180px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
