<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">	<!-- 引入命名空间 -->
<head>
	<title>SpringBoot模版渲染</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<link rel="icon" type="image/x-icon" href="/images/mldn.ico"/>
</head>
<body> 
	<table border="1">
		<tr><td>No.</td><td>编号</td><td>姓名</td><td>年龄</td><td>工资</td><td>生日</td></tr>
		<tr th:each="member,memberStat:${allMembers}">
			<td th:text="${memberStat.index + 1}"/>
			<td th:text="${member.mid}"/>
			<td th:text="${member.name}"/>
			<td th:text="${member.age}"/>
			<td th:text="${member.salary}"/>
			<td th:text="${member.birthday}"/>
		</tr>
	</table>
</body>
</html> 