<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
  http://www.springframework.org/schema/mvc 
  http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd 
  http://www.springframework.org/schema/context 
  http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- 定义组件扫描器，指定需要扫描的包 -->
	<context:component-scan base-package="com.itheima.controller" />
	<!-- 配置注解驱动 -->
	<mvc:annotation-driven />
	
	<!--配置静态资源的访问映射，此配置中的文件，将不被前端控制器拦截 -->
	<mvc:resources location="/js/" mapping="/js/**" />
	<!-- <mvc:default-servlet-handler /> -->
	
	<!-- 配置视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- <bean>标签配置注解方式的处理器映射器和处理器适配器必须配对使用 -->
	<!-- 使用<bean>标签配置注解方式的处理器映射器 -->
<!-- 	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
	使用<bean>标签配置注解方式的处理器适配器
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				在注解适配器中配置JSON转换器
				<bean
					class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
			</list>
		</property>
	</bean> -->

</beans>
