body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:647px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:411px;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:597px;
  height:411px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  word-wrap:break-word;
}
